/*style for home*/

.img_msg{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;

}

.readed_img{
    width: 15px;
    height: 15px;
}

.selected_image_newMsg{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;

}