/*style for home*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.img_msg{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;

}

.readed_img{
    width: 15px;
    height: 15px;
}

.selected_image_newMsg{
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;

}

.container {
    display: flex;
  }
  
  .left-div {
    flex-basis: 20%;
    background-color: lightblue;
    min-height: 100vh;
  }
  
  .right-div {
    flex-basis: 80%;
    background-color: lightgreen;
    min-height: 100vh;
  }

  /* tjs dans Home design des msg*/
  /* Ajoutez ces styles pour .sender-right */
.sender-right {
    text-align: right;
    margin-right: 10px;
    margin-left: 100px;
    border-radius: 25px;
    padding-right: 10px;
    position: relative; /* Ajoutez cette ligne pour positionner la flèche correctement */
  }
  
  /* Ajoutez ces styles pour .sender-left */
  .sender-left {
    text-align: left;
    margin-left: 100px; /* Modifiez cette valeur pour décaler la bulle à gauche */
    margin-right: 10px;
    border-radius: 25px;
    padding-left: 10px;
    position: relative; /* Ajoutez cette ligne pour positionner la flèche correctement */
  }
  
  /* Ajoutez ces styles pour .msg_list */
  .msg_list {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  /* .sender-right {
    text-align: right;
   margin-right: 10px;
   margin-left: 100px;
    /* border-style: solid; */
    /* border-radius: 25px;
    padding-right: 10px;
   
  } */ */
  /* .sender-left {
    text-align: left;
    margin-left: 10px;
    margin-right: 100px;
    /* border-style: solid; */
    /* border-radius: 25px;
    padding-left: 10px;
    
  } */ */
  .msg_list{
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .speech-wrapper{
   padding: 30px 40px; 
  .bubble{
    width: 60%;
    height: auto;
    display: block;
    background: #f5f5f5;
    border-radius: 4px;
    /* box-shadow: 2px 8px 5px #000; */
    position: relative;
    margin: 0 0 25px;
    
    &.alt{
      /* margin: 0 0 0 60px; */
      margin: 0 15px 0 auto;
    }
    .txt{
      padding: 8px 55px 8px 14px;
      .name{
        font-weight: 600;
        font-size: 12px;
        margin: 0 0 4px;
        /* color: #3498db; */
        span{
          font-weight: normal;
          color: #b3b3b3;
        }
        /* &.alt{
          color: #2ecc71;
        } */
      }
      /* .message{
        font-size: 12px;
        margin: 0;
        color: #2b2b2b;
      }
      .timestamp{
        font-size: 11px;
        position: absolute;
        bottom: 8px;
        right: 10px;
        text-transform: uppercase; color: #999
      } */
    }
    .bubble-arrow {
      position: absolute;
      width: 0;
      bottom:42px;
      left: -16px;
      height: 0;
      &.alt{
        right: -2px;      
        bottom: 40px;
        left: auto;
      }
    }
    .bubble-arrow:after {
      content: "";
      position: absolute;
      border: 0 solid transparent;
      border-top: 9px solid #f5f5f5;
      border-radius: 0 20px 0;
      width: 15px;
      height: 30px;
      transform: rotate(145deg);
    }
    .bubble-arrow.alt:after {
      transform: rotate(45deg) scaleY(-1);
    }
  }
}

/*style for add NewGroup page*/

.add_user_to_group_list{
    list-style-type: none;
}


.remove_add_user_icon{
    width: 20px;
    height: 20px;
   
   
    
}
.img_contact_add_group{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.contact_container{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  align-content: flex-start;
}

.container-group {
    display: flex;
  }

.left-div-group {
    flex-basis: 20%;
    background-color: lightblue;
    min-height: 100vh;
  }
  
  .right-div-group {
    flex-basis: 80%;
    background-color: lightgreen;
    min-height: 100vh;
  }